body{
    background-color: #132a13;
}
.container{

    width: 70vh;
    height: 70vh;
    
    margin: 20px auto;

}
.game{
    height: 60vmin;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 1rem;

}
.btn{
    width: 18vmin;
    height: 18vmin;
    font-size: 50px;
    background-color: white;
    color: black;
    
}
.msg{
    color: white;
    font-size: 50px;
    text-align: center;
    
}
.hide{
    display: none;
}